<div class="container">
    <nav class="navbar">
        <div class="links">
            <a routerLink="home" class="logo">KUAFÖR</a>
            <a routerLink="home">AnaSayfa</a>
            <a>Hizmetler</a>
            <a>İletişim</a>
            <a>Hakkımızda</a>
        </div>
        <div class="links">
            @if (this.adminAuth.activeUser == "")
            {
            <a routerLink="/adminlogin">Giriş Yap</a>
            }
            @else {
            <p>{{this.adminAuth.activeUser}}</p>
            <a routerLink="/adminlogin" (click)="logout()">Çıkış Yap</a>
            }
        </div>
    </nav>
    <div class="form">
        <h1 class="header">Randevular</h1>

    </div>
</div>