<nav class="navbar">
    <div class="links">
        <a routerLink="home" class="logo">KUAFÖR</a>
        <a routerLink="home">AnaSayfa</a>
        @if (this.auth.activeCustomer == "")
        {
        <a routerLink="/login">Randevu</a>
        }
        @else {

        <a routerLink="/appointment">Randevu</a>
        }
        <a>Hizmetler</a>
        <a>İletişim</a>
        <a>Hakkımızda</a>
    </div>
    <div class="links">
        @if (this.auth.activeCustomer == "")
        {
        <a routerLink="/login">Giriş Yap</a>
        <a routerLink="/register">Kayıt Ol</a>
        }
        @else {
        <p>{{this.auth.activeCustomer}}</p>
        <a routerLink="/login" (click)="logout()">Çıkış Yap</a>
        }
    </div>
</nav>