.bcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container2{
    display: flex;
    justify-content: start;
    align-items: center;
}

.form{
    width: 500px;
    height: 600px;
}

.del-btn{
    display: inline-block;
    background-color: rgb(254, 87, 87);
    padding: 9px;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
    height: 30px;
}