<div class="container">
    <app-nav></app-nav>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="header">Giriş Yap</h1>
        <div class="box3">
            <div class="box">
                <input type="email" class="input" id="email" formControlName="email" required>
                <label for="email" class="placeholder">Email</label>
                @if(loginForm.get("email")?.hasError('email') && loginForm.get("email")?.touched){
                <p class="error">Lütfen mail adresinizi doğru formatta giriniz</p>
                }
                @if(loginForm.get("email")?.hasError('required') && loginForm.get("email")?.touched){
                <p class="error">Boş geçilemez</p>
                }
            </div>
            <div class="box">
                <input type="password" class="input" id="password" formControlName="password" name="password" required>
                <label for="password" class="placeholder">Şifre</label>
                @if(loginForm.get("password")?.hasError('required') && loginForm.get("password")?.touched){
                <div class="error">Boş geçilemez</div>
                }@if(loginForm.get("password")?.hasError('minlength') && loginForm.get("password")?.touched){
                <div class="error">En az 6 karakter</div>
                }
            </div>


        </div>
        <div class="btn-box">
            <button class="button button2" routerLink="/register">Kayıt Ol</button>
            <button class="button button1" type="submit" [disabled]="!loginForm.valid">Giriş Yap</button>
        </div>
    </form>
</div>
